<div id="<%= dom_id crew %>">
  <p>
    <strong>Name:</strong>
    <%= crew.name %>
  </p>

  <p>
    <strong>Sea:</strong>
    <%= crew.sea %>
  </p>

  <p>
    <strong>Island:</strong>
    <%= crew.island %>
  </p>

</div>
