<div id="<%= dom_id ship %>">
  <p>
    <strong>Name:</strong>
    <%= ship.name %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= ship.crew_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ship.location %>
  </p>

</div>
